body {
  background-color: rgb(51, 43, 51);
  color: aliceblue;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#About,
#experience,
#connect {
  margin-bottom: 25px;
  padding: 20px;
  text-align: center;
}

a {
  font-size: 7px;
  color: aliceblue;
}
h1,
h2 {
  font-family: 'Special Gothic Condensed One', sans-serif;
  font-weight: bold;
}
h1 {
  background-color: rgb(68, 62, 72);
  font-size: 32px;
  color: #ff6600;
  width: 150px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  color: #f2eea2;
}

p {
  text-align: center;
  background-color: rgb(68, 62, 72);
  width: 300px;
}

#Experience ul {
  list-style: none;
  padding: 0;
}
#Experience li {
  background-color: #e7caca; /* Light gray background */
  border-left: 5px solid #ff6600; /* Accent border */
  padding: 3px;
  margin: 7px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1px; /* Rounded corners */
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

#connect ul {
  list-style: none;
  padding: 0;
}

#connect li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#connect a {
  font-size: 24px;
  color: aliceblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

#connect a i {
  font-size: 28px;
  color: #ff6600;
}
